<!--The content below is only a placeholder and can be replaced.-->
<form>
  <div style="text-align:center">
  <h1>
    Ayo4U Convertor App
  </h1>
</div>
<h4>Please select your measurement, SI unit to convert into, and specify a value: </h4>
<div class="side-by-side">
  <div>
    <mat-form-field>
      <mat-select placeholder="Select Measurment" [(ngModel)]="selectedMeasurement" name="measurement">
        <mat-option  *ngFor="let measurement of measurements" [value]="measurement">
          {{measurement}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Select SI unit" [(ngModel)]="selectedSiUnit" name="siUnit">
        <mat-option  *ngFor="let siUnit of siUnits" [value]="siUnit">
          {{siUnit}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Quick Search">
    </mat-form-field>
  </div>
</div>
</form>

